.fav-movie {
    margin-bottom: 15px;

    figcaption {
        text-align: center;
    }

    button.btn {
        display: block;
        margin: auto;
    }
}

.card {
    margin-bottom: 15px;

    figure {
        position: relative;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: wrap;
        margin: auto;
        width: 100%;

        img {
            height: 400px;
            margin: auto;
        }
    }
}