.indiv-view {
    margin: 3vw 0;
    text-align: justify;
}

.indiv-img {
    height: 25em;
    object-fit: contain;
}

.indiv-view-title {
    height: 3em;
    font-size: 50px;
    font-weight: 900;
}

.button {
    margin: 10px 15px 0 0;
}

.button-add-favs:active {
    transform: scale(1.15);
}